@import "../style/base.scss";

.company-list-wrapper {
  display: flex;
  flex-direction: column;
  //TODO: надо бы вынести
  max-height: 93vh;
}

.company-list__tools {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  position: relative;
  z-index: 1;
  background-color: $secondary-color;
  justify-content: space-around;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.company-list__items {
  overflow-y: scroll;
}
