<div class="company-wrapper">
    <a routerLink="/detail/{{company.id}}">
        <div class="company-content">
            <div class="company-content__logo">
                <img [src]="company.logo" [alt]="'logo of '+company.business_name">
            </div>
            <div class="company-content__discription">
                <h2> <span> </span> Name: {{company.business_name}}</h2>
                <h3><span>Strategize:</span> {{company.bs_company_statement}}</h3>
                <h3><span>Industry:</span> {{company.industry}}</h3>
                <h3><span>Phone:</span> {{company.phone_number}}</h3>
                <h3><span>Adress: </span>{{company.full_address}}</h3>
            </div>
        </div>
    </a>
</div>